@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* common style */
body {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

/* header style */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 34px;
}

/* banner part style */
.banner-container {
    margin-top: 50px;
}

.banner {
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
}

.banner-btn {
    padding: 10px 20px;
    margin-top: 20px;
    background: #E02C6D;
    border-radius: 41px;
    border: none;
    color: white;
}

/* banner img style */
.banner-img {
    /* background-color: aqua; */
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* company logos style */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 20px 0;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to right, white, gray, white) 70 stretch;

}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* card section */

.card-section {
    margin-top: 100px;
}

.card-section-title {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
}

.card-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
}

.card-tk {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.card-star {
    color: #FB8200;
}

.card-reng {
    color: #5E6366;
    margin-left: 10px;
}

.card-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
}

.more-btn {
    border: none;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 92%;
    color: rgba(224, 44, 109, 0.87);
    background: white;
}


/*  Featured products at one place  section style*/
.featured-products-section {
    display: flex;
    margin-top: 100px;
}

.featured-info {
    padding-left: 50px;
}

.featurd-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
}

.footerd-btn {
    background: #E02C6D;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-top: 26px;
}

/* footer style */
footer {
    margin-top: 100px;
    height: 211px;
    background: #0A0826;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.media-icon {
    margin-top: 15px;
}

.fa-brands {
    background-color: #80808030;
    padding: 10px;
    border-radius: 50%;
}

/* small device responsive*/
@media screen and (max-width:576px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 24px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-info {
        text-align: center;
        margin-top: 30px;
    }

    .banner-title {
        font-size: 33px;
        line-height: 58px;
    }

    .banner-img img {
        width: 103%;
    }

    /* logo */
    .logo {
        gap: 30px;
    }

    /* card */
    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card img {
        width: 100%;
    }

}

/* medium device responsive*/
@media screen and (min-width:577px) and (max-width:768px) {
    .banner {
        flex-direction: column-reverse;
    }

    .banner-info {
        text-align: center;
        margin-top: 50px;
    }

    .banner-title {
        font-size: 45px;
    }

    .banner-img img {
        width: 105%;
    }

    /* card */
    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card img {
        width: 100%;
    }

}

/* large devise responsive*/
@media screen and (min-width:769px) and (max-width:992px) {

    .banner-title {
        font-size: 30px;
        line-height: 45px;
    }

    .banner-img img {
        width: 104%;
    }

    /* card */
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 100%;
        height: 100%;
    }

    .card img {
        width: 100%;
    }
}


@media screen and (min-width:992px) and (max-width:1200px) {
    .banner-img img {
        width: 104%;
    }
}